//
//
// really wide screen
//
@media all and (min-width: 71.25em) {
  .row-container {
    width: 1140px;
  }
}



//
//
// everything up to laptop/desktop
//
@media all and (max-width: 71.25em) {

}



//
//
// everything up to ipad portrait
//
@media all and (max-width: 48em) {

}



//
//
// up to iphone landscape
//
@media all and (max-width: 30em) {

}



//
//
// small screens
//
@media all and (max-width: 20em) {

}



//
//
// small screen in landscape mode
//
//@media all and (max-width: 30em) and (orientation : landscape) {

//}


//
//
// retinal display
//
@media only screen and (-webkit-min-device-pixel-ratio : 1.5), only screen and (min-device-pixel-ratio : 1.5) {

}
