<nav id="navigation">
  <a href="#navigation" class="i-want-to-go-to-there">show navigation</a>

  <a href="#contact" class="page-nav">contact</a>
  <a href="#home" class="page-nav">home</a>
  <%#<a href="#labs" class="page-nav">labs</a>%>
</nav>
