<nav>
  <a href="#navigation" class="i-want-to-go-to-there">show navigation</a>

  <ul id="navigation">
    <li>
      <a href="#contact">contact</a>
    </li>
    <li>
      <a href="#labs">labs</a>
    </li>
  </ul>
</nav>
