@font-face {
  font-family: 'futura_lt';
  src: url('fonts/futuralt-condensedboldoblique.eot');
  src: url('fonts/futuralt-condensedboldoblique.eot?#iefix') format('embedded-opentype'),
       url('fonts/futuralt-condensedboldoblique.woff') format('woff'),
       url('fonts/futuralt-condensedboldoblique.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

$sans-serif: Helvetica, Arial, sans-serif;
$serif: Georgia, serif;
$futura: 'futura_lt', helvetica, sans-serif;
$lato: 'Lato', helvetica, sans-serif;

@mixin lato {
  color: $dark-gray;
  font-family: $lato;
  font-weight: 700;
  line-height: 1em;
  text-shadow: 1px 1px 1px rgba(0,0,0,0.45);
}
