---
title: Benjamin Charity
---

<section class="page">

  <article>
    <h1>Front-End Innovation Specialist</h1>

    <div class="hide-yo-kids">
      <ul class="mad-skillz-list">
        <li>html5/css3</li>
        <li>responsive design</li>
        <li>mobile first</li>
        <li>another buzzword</li>
        <li>javascript</li>
        <li>jquery</li>
        <li>haml/sass/scss</li>
        <li>erb</li>
        <li>git</li>
      </ul>

      <aside>
        <h3>Who gave me money for this?</h3>
          <ul>
            <li>The Home Depot</li>
            <li>BountyBuy</li>
            <li>NFL</li>
            <li>InComm</li>
            <li>Turner</li>
            <li>Digital Assent</li>
            <li>NBA</li>
            <li>The Campus Style</li>
            <li>Go Moment</li>
            <li>NCR</li>
            <li>Aimee Herr Schier</li>
            <li>Airspoke</li>
            <li>Case-Mate</li>
          </ul>
      </aside>
    </div>
  </article>


  <article>
    <h1>Pixel Whisperer</h1>

    <div class="hide-yo-kids">
      <ul class="mad-skillz-list">
        <li>this</li>
        <li>that</li>
        <li>the other</li>
        <li>pelvic thrust</li>
        <li>hair combing</li>
        <li>fist bumping</li>
        <li>armadillo hunting</li>
        <li>peeing</li>
      </ul>

      <aside>
        <h3>Who gave me money for this?</h3>
        <ul>
          <li>The Home Depot</li>
          <li>BountyBuy</li>
          <li>NFL</li>
          <li>NBA</li>
          <li>Case-Mate</li>
        </ul>
      </aside>
    </div>
  </article>


  <article>
    <h1>Architector of Informations</h1>

    <div class="hide-yo-kids">
      <ul class="mad-skillz-list">
        <li>this</li>
        <li>that</li>
        <li>the other</li>
        <li>pelvic thrust</li>
        <li>hair combing</li>
        <li>fist bumping</li>
        <li>armadillo hunting</li>
        <li>peeing</li>
      </ul>

      <aside>
        <h3>Who gave me money for this?</h3>
        <ul>
          <li>The Home Depot</li>
          <li>BountyBuy</li>
          <li>NFL</li>
          <li>NBA</li>
          <li>Case-Mate</li>
        </ul>
      </aside>
    </div>
  </article>


  <article>
    <h1>Optimizer of Performance</h1>

    <div class="hide-yo-kids">
      <ul class="mad-skillz-list">
        <li>this</li>
        <li>that</li>
        <li>the other</li>
        <li>pelvic thrust</li>
        <li>hair combing</li>
        <li>fist bumping</li>
        <li>armadillo hunting</li>
        <li>peeing</li>
      </ul>

      <aside>
        <h3>Who gave me money for this?</h3>
        <ul>
          <li>The Home Depot</li>
          <li>BountyBuy</li>
          <li>NFL</li>
          <li>NBA</li>
          <li>Case-Mate</li>
        </ul>
      </aside>
    </div>
  </article>

</section>
