---
title: Benjamin Charity
---

<section class="page active" id="superfluous-titles">
  <article>
    <h1>Front-End Innovation Specialist</h1>

    <div class="hide-yo-kids">
      <ul class="mad-skillz-list">
        <li>html5/css3</li>
        <li>responsive design</li>
        <li>mobile first</li>
        <li>another buzzword</li>
        <li>javascript</li>
        <li>jquery</li>
        <li>haml/erb/sass/scss</li>
        <li>accessibility</li>
        <li>git</li>
      </ul>

      <aside>
        <h3>Who gave me money for this?</h3>
          <ul>
            <li>The Home Depot</li>
            <li>BountyBuy</li>
            <li>NFL</li>
            <li>InComm</li>
            <li>Turner</li>
            <li>Digital Assent</li>
            <li>NBA</li>
            <li>The Campus Style</li>
            <li>Go Moment</li>
            <li>NCR</li>
            <li>Aimee Herr Schier</li>
            <li>Airspoke</li>
            <li>Case-Mate</li>
          </ul>
      </aside>
    </div>
  </article>


  <article>
    <h1>Pixel Whisperer</h1>

    <div class="hide-yo-kids">
      <ul class="mad-skillz-list">
        <li>photoshop</li>
        <li>indesign</li>
        <li>responsive</li>
        <li>armadillo hunting</li>
        <li>mobile first</li>
        <li>style guides</li>
      </ul>

      <aside>
        <h3>Who gave me money for this?</h3>
        <ul>
          <li>Go Moment</li>
          <li>Airspoke</li>
          <li>The Campus Style</li>
          <li>BountyBuy</li>
        </ul>
      </aside>
    </div>
  </article>


  <article>
    <h1>Architector of Informations</h1>

    <div class="hide-yo-kids">
      <ul class="mad-skillz-list">
        <li>site maps</li>
        <li>user flow/navigation</li>
        <li>fist bumping</li>
        <li>information organization</li>
        <li>interaction design</li>
      </ul>

      <aside>
        <h3>Who gave me money for this?</h3>
        <ul>
          <li>Go Moment</li>
          <li>Airspoke</li>
          <li>The Home Depot</li>
        </ul>
      </aside>
    </div>
  </article>


  <article>
    <h1>Optimizer of Performance</h1>

    <div class="hide-yo-kids">
      <ul class="mad-skillz-list">
        <li>A bit self-explanatory, no?</li>
      </ul>

      <aside>
        <h3>Who gave me money for this?</h3>
        <ul>
          <li>The Home Depot</li>
          <li>BountyBuy</li>
          <li>NFL</li>
          <li>InComm</li>
          <li>Turner</li>
          <li>Digital Assent</li>
          <li>NBA</li>
          <li>The Campus Style</li>
          <li>Go Moment</li>
          <li>NCR</li>
          <li>Aimee Herr Schier</li>
          <li>Airspoke</li>
          <li>Case-Mate</li>
        </ul>
      </aside>
    </div>
  </article>
</section>

<section id="labs" class="page">
  <article>
    <ul id="dribbbbbble"></ul>
    <a href="http://dribbble.com/benjamincharity/" class="youKnowYouWantMore">See more shots on Dribbble</a>
  </article>
</section>

<section id="contact" class="page">
  <article>
    <ul>
      <li>
        <a href="http://twitter.com/benjamincharity">twitter</a>
      </li>
      <li>
        <a href="mailto:ben@benjamincharity.com">email</a>
      </li>
      <li>
        <a href="http://github.com/benjamincharity">github</a>
      </li>
      <li>
        <a href="http://dribbble.com/benjamincharity">dribbble</a>
      </li>
      <li>
        <a href="skype:benjamincharity?call">skype</a>
      </li>
      <li>
        <a href="http://zerply.com/benjamincharity">zerply</a>
      </li>
      <li>
        <a href="http://forrst.com/people/benjamincharity">forrst</a>
      </li>
      <li>
        <a href="http://www.linkedin.com/in/benjamincharity">linkedin</a>
      </li>
      <li>
        <a href="http://www.shelfari.com/o1514858050">shelfari</a>
      </li>
    </ul>
  </article>
</section>
